// COMMUN AUX SECTIONS ////////////////////////////////////////////////////////////////////////////
.enseaImg {
  width: 100%;
  height: auto;
}

.enseaImgContainer {
  overflow: hidden;
  width: 100%;
  margin: 27.7777777778vh auto;
}

.admis {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .socials {
    flex: 1;
    min-width: 40%;
    margin-left: 5%;

    .faIcon {
      color: #1877F2;
      vertical-align: middle;
      font-size: 28px;
    }

    .instaIcon {
      color: #E1306C;
      vertical-align: middle;
      font-size: 28px;
    }

    .admis__linkContainer {
      text-align: center;
    }

    .admis__link {
      display: inline;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
/// LANDING SECTION ///////////////////////////////////////////////////////////////////////////////
.landing {
  height: 100vh;
  position: relative;
}

.landing__title {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 20vh;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  line-height: 1;
  visibility: hidden;
}

.landing__titleChar {
  position: relative;
  opacity: 1;
}

.landing__imgContainer {
  position: absolute;
  filter: grayscale(.6);
  z-index: 8;
  transition: opacity .3s;
  visibility: hidden;

  &:hover {
    filter: grayscale(0);
  }

  &.landing__pilsContainer:hover,
  &.landing__lunettesContainer:hover {
    filter: grayscale(0) brightness(1.5);
  }

  &.landing__lugeContainer {
    top: 12%;
    right: 10%;
    width: 20%;
    aspect-ratio: calc(1597/2393);
  }

  &.landing__lunettesContainer {
    top: 20%;
    left: 5%;
    width: 23%;
    aspect-ratio: calc(433/179);
  }

  &.landing__pilsContainer {
    bottom: 20%;
    left: 10%;
    width: 5%;
    aspect-ratio: calc(399/1147);
  }

  &.landing__yetiContainer {
    top: 50%;
    left: 50%;
    width: 30%;
    filter: blur(10px);
    visibility: visible;
    aspect-ratio: calc(1481/2330);
    /* https://tools.webdevpuneet.com/css-clip-path-generator/ */
    clip-path: polygon(26% 16%, 39% 15%, 39% 5%, 49% 0%, 58% 0, 68% 4%, 66% 15%, 78% 18%, 86% 12%, 98% 16%, 99% 24%, 95% 31%, 88% 34%, 76% 34%, 69% 44%, 69% 53%, 71% 70%, 77% 84%, 81% 92%, 88% 97%, 77% 100%, 62% 100%, 53% 79%, 49% 71%, 43% 66%, 34% 68%, 32% 78%, 32% 88%, 20% 91%, 6% 92%, 0 87%, 8% 84%, 9% 67%, 19% 54%, 24% 47%, 27% 41%, 24% 30%, 13% 30%, 4% 25%, 6% 17%, 12% 9%, 22% 10%);
  }

  img {
    object-fit: contain;
    pointer-events: none;

    &::selection {
      background-color: transparent;
    }
  }
}

.landing__label {
  position: absolute;
  padding: 2.7777777778vh 3.2407407407vh;
  font-size: 3.2407407407vh;
  line-height: 3.2407407407vh;
  background-color: #1e1e1e;
  color: #f5f5f0;
  letter-spacing: 1.07px;
  cursor: pointer;
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-transform: uppercase;
  border: 1px solid #1e1e1e;
  transform: scale(0);
  transition: .3s transform;
  z-index: 8;
}

.titleBanner {
  display: none;
}


@media only screen and (max-width: 600px) {
  .titleBanner {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    font-size: 9vh;
    background-color: #1e1e1e;
    color: #f5f5f0;
    transform: translateX(-10%) rotate(-9deg);
    width: max-content;
    z-index: 9;
    letter-spacing: 5px;

    div {
      animation: 6s infinite running linear titleBannerAnim;
      margin-right: 20vw;
    }
  }

  @keyframes titleBannerAnim {
    100% {
      transform: translateX(calc(-100% - 20vw));
    }
  }

  .landing__imgContainer {
    display: none;

    &.landing__yetiContainer {
      display: block;
      width: 90%;
      top: 55%;
      filter: blur(0px);
    }
  }

  .landing__title {
    display: none;
    writing-mode: vertical-rl;
    font-size: 10vh;
    align-items: flex-start;
    visibility: visible;
  }

  .admis {
    flex-direction: column;
  }

  .socials {
    margin: 15vh auto;
  }

  .enseaImgContainer {
    margin: 15vh auto
  }
}